$blue: #1877f2;
$green: #42b72a;
// $gray-600: rgb(245, 245, 245);
@import "~bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  background: linear-gradient(
    203deg,
    rgba(27, 100, 78, 0.9) 0%,
    rgba(43, 70, 192, 0.9) 50%,
    rgba(233, 149, 33, 0.9) 100%
  );
}

.dispaly_users:hover {
  border: 1px solid rgba(233, 149, 33, 0.9);
  border-radius: 10%;
}
.msgs-Col {
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.Profile_pic {
  width: 50px;
  height: 50px;
  object-fit: "cover";
  border-radius: 50%;
}
.msg_p {
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  margin-top: 0.7rem;
  font-weight: bold;
}
